body {
  display: block;
  margin: 0;
}

.container {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    lightblue,
    blue,
    darkblue,
    rgb(63, 3, 63)
  );
}

#over_stuff {
  color: white;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0px;
  z-index: 5;
  padding: 0 px;
}

.center {
  margin: 25% 20% 15% 40%;
  width: 20%;
  border: 3px solid lightblue;
  padding: 10px;
  text-align: center;
}
